 <?php
include APPROOT . '/views/includes/data.php';
include APPROOT . '/views/student/includes/header.php';

?>

<link rel="stylesheet" href="<?php echo URLROOT . '/public/css/student/specialservicerequest.css' ?>">
<div class="container">

<h3>Special Service Request</h3>
<select>
<!-- a json file can be added here so that  -->
</select>


	<select>
		a select option can be placed here mentioning all the tutors in the database related to the subject mentioned earlier
	</select>


specify the budget
<label for="budget">Budget price</label>
<input type="text" name="budget">

next up we should better mention the deadline we need this to be completed
<label for="deadline">Deadline</label>
<input type="text" name="deadline">

extra notes
<label for="additional"> Additional Notes</label>
<textarea rows="10" cols="50" placeholder="Write any additional notes in this section"> </textarea>

<input type="submit" name="submit" value="Submit Special Request">



functions that might be needed for all these work

</div> 
